[Desktop Entry]
Type=Application
Name=QDStar
Comment=IC-705 D-STAR Terminal Mode controller and gateway
Exec=qdstar
Icon=qdstar
Terminal=false
Categories=HamRadio;Network;
StartupWMClass=qdstar
